* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
body {
  color: #ffffff;
  background: #081b29;
  background-color: rgb(22, 23, 24);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: #070708eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  margin-left: 155px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}
.navbar a:hover {
  color: #0ef;
}
.home {
  margin: auto;
  padding-top: 5vh;
  position: relative;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.self_img img {
  margin-left: 200px;
  width: 25vw;
  height: 50vh;
  border-radius: 60%;
  border: solid;
  box-shadow: 0 0 60px rgb(45, 216, 228);
  border: 8px linear-gradient(0deg, rgb(5, 5, 14), green 40%, red);
}
.self_img img:hover {
  box-shadow: 0 0 10px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.about-img img {
  margin-left: 200px;
  width: 25vw;
  height: 50vh;
  border-radius: 60%;
  border: solid;
  box-shadow: 0 0 60px rgb(45, 216, 228);
  border: 8px linear-gradient(0deg, rgb(5, 5, 14), green 40%, red);
}
.about-img img:hover {
  box-shadow: 0 0 10px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideButtom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}
.home-content h3 span {
  color: #0ef;
  font-size: 30px;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.2s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.5s;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  margin-right: 25px;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.about {
  padding-top: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: #0ef;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.services {
  padding-top: 16vh;
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span {
  color: #0ef;
}
.container {
  padding: 90px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 20px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px#0053b8f7;
}
.services-list div {
  font-size: 20px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12;
  margin-top: 20px;
  display: inline-block;
}
.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.services-list div:hover {
  transform: translateY(-10px);
}

.skills {
  display: grid;
  align-items: center;
}
.twoskills {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.head {
  display: flex;
  padding-top: 15vh;
  margin-left: 40vw;
}

section {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.bar {
  font-size: 23px;
}
.Technical-bars .bar {
  margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-top: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #111;
  animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: rgb(10, 228, 244);
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  width: 90%;
}
.progress-line.CSS span {
  width: 60%;
}
.progress-line.JavaScript span {
  width: 85%;
}
.progress-line.Python span {
  width: 50%;
}
.progress-line.react span {
  width: 75%;
}
.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.CSS span::after {
  content: "60%";
}
.progress-line.JavaScript span::after {
  content: "85%";
}
.progress-line.Python span::after {
  content: "50%";
}
.progress-line.react span::after {
  content: "75%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0px;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

#Professional_Skills {
  position: relative;
  left: 500px;
  top: 50px;
}
.container {
  text-align: center;
  padding: 10px;
}
.heading1 {
  font-size: 2rem;
  margin-bottom: 30px;
}
.radial-bars {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.radial-bar {
  position: relative;
  width: 180px;
  height: 150px;
}
svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}
circle {
  fill: none;
  stroke-width: 10;
}
.background-path {
  stroke: #111;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  animation: animate-background-path 1s linear forwards;
}
.progress-path {
  stroke: #0ef;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  transition: stroke-dashoffset 0.1s ease;
}
.percentage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}
.text {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}
@keyframes animate-background-path {
  0% {
    stroke-dashoffset: 502;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.radial-bar:nth-child(1) .progress-path {
  animation: animate-progress-path-1 1.6s linear forwards;
}
.radial-bar:nth-child(2) .progress-path {
  animation: animate-progress-path-2 1.6s linear forwards;
}
.radial_2:nth-child(1) .progress-path {
  animation: animate-progress-path-3 1.6s linear forwards;
}
.radial_2:nth-child(2) .progress-path {
  animation: animate-progress-path-4 1.6s linear forwards;
}
@keyframes animate-progress-path-1 {
  0% {
    stroke-dashoffset: 502;
  }
  100% {
    stroke-dashoffset: 36;
  }
}
@keyframes animate-progress-path-2 {
  0% {
    stroke-dashoffset: 502;
  }
  100% {
    stroke-dashoffset: 126;
  }
}
@keyframes animate-progress-path-3 {
  0% {
    stroke-dashoffset: 502;
  }
  100% {
    stroke-dashoffset: 90;
  }
}
@keyframes animate-progress-path-4 {
  0% {
    stroke-dashoffset: 502;
  }
  100% {
    stroke-dashoffset: 54;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideButtom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-text {
  padding-top: 15vh;
}

.main-text h2 {
  font-size: 60px;
  line-height: 4;
  text-align: center;
  margin-left: 140px;
}

.main-text h2 span {
  color: #0ef;
}

.portfolio-content {
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 40px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), #0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  max-height: 0;
}

.layer h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

.layer i {
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
  max-height: 100%;
}

/*  */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-text h2 {
  padding-top: 10vh;
  margin-left: 16px;
  font-size: 70px;
  line-height: 2;
  text-align: center;
}
.contact-text h2 span {
  color: #0ef;
}
.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  margin-left: 20px;
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translate(-5px);
  color: #0ef;
}
.contact-icons{
  margin-left: 20px;
}
.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.contact-icons i:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  margin-left: 500px;
  border: none;
  outline: none;
  width: 50%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.last-text p {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2,1rem;
}

.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  margin-left: 12px;
}
